.sectionDivDark {
    background: #4b636e;
    h1, h2 {
        color: white;
    }
}
.sectionDivDark, .sectionDivLight, .sectionAreas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.8;
    overflow: hidden;
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }

}
.sectionAreas {
    background: url("../../assets/img/workBGFilter.png") center no-repeat;
    object-fit: cover;
    h1, h2 {
        color: white;
        text-shadow:
            -1px -1px 0 #474747,  
            1px -1px 0 #474747,
            -1px 1px 0 #474747,
            1px 1px 0 #474747;
    }
  
}

.sectionDivLight {
    
    background: #a7c0cd;
}

.timelineBox {
    width: 50%;
    padding: 4.5rem;
    border-radius: 20px;
    background: gainsboro;
    opacity: 0.8;
}
.treeBox {
    width: 65%;
    padding: 3rem;
    border-radius: 20px;
    background: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.tree {
    width: 30%;
    margin: 0.5rem;
    background: rgb(236,239,241);
}

.collapseDiv {
    display: flex;
    flex-direction: column;
    span {
        margin: 2px 0;
    }
}